node_modules
dist
out
.DS_Store
.eslintcache
*.log*
**/~$*.xlsx
**/~$*.pptx
saved*/*
test-data*/**
coverage
**/__snapshots__
src/main/debug-data.ts

# auto gen
src/renderer/src/generated/bundled-licenses.ts

# for update check test folder
scripts/releases/**
!scripts/releases/
!scripts/releases/.gitkeep
